/* GLOBALS */
body {
  font-family: 'Gotham', Helvetica, sans-serif;
}
#logo {
  text-align: center;
  margin: auto;
  width: 135px;
  height: 135px;
}
#logo img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
#logo img:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
a {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: #000000;
  font-weight: normal;
}
a:hover {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: #c8c8c1;
  text-decoration: none;
}
a:focus {
  color: #c8c8c1;
  text-decoration: none;
}
#header {
  position: relative;
  padding: 30px 0;
}
.topbar {
  background: #000000;
  height: 15px;
  width: 100%;
  display: block;
}
.payoff p {
  font-size: 18px;
  position: relative;
  display: inline-block;
  width: auto;
  float: left;
  margin-top: 64px;
  color: #c8c8c1;
}
#mobile-nav {
  list-style: none;
  text-align: center;
  padding: 0;
}
#mobile-nav .dropdown-menu {
  padding: 0;
  top: 40px;
  left: 50%;
  margin-left: -80px;
}
#mobile-nav .dropdown {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 22px;
}
#mobile-nav .dropdown a {
  color: #fff;
  background: #000000;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  padding: 15px;
}
#mobile-nav .dropdown a:hover {
  background: #fff;
  color: #000000;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
#mobile-nav .dropdown li.current a {
  background: #fff;
  color: #000000;
}
.thwd {
  position: relative;
  margin-top: 30px;
}
.thwd a {
  display: inline-block;
  width: 120px;
  height: 75px;
  background: url(../img/thwdlogo_grey.jpg) no-repeat;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.thwd a:hover {
  background: url(../img/thwdlogo_orange.jpg) no-repeat;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.socials {
  position: relative;
  display: inline-block;
  width: auto;
  float: right;
  margin-top: -75px;
}
.socials ul {
  width: auto;
  list-style: none;
  padding-left: 0;
}
.socials ul li {
  display: inline-block;
}
.socials ul li a {
  font-size: 20px;
  background: #c8c8c1;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 5px;
  color: #fff;
}
.socials ul li a:hover {
  background: #000000;
}
.socials ul li a.yt:hover {
  background: #CC181E;
}
.socials ul li a.fb:hover {
  background: #3B5998;
}
.socials ul li a.vi:hover {
  background: #4BF;
}
.socials ul li a.tw:hover {
  background: #1C6399;
}
.navigation-bar {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
#navigation {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  text-align: center;
}
#navigation li {
  display: inline-block;
}
#navigation li a {
  display: inline-block;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 40px;
  margin-left: -5px;
  min-width: 180px;
  font-weight: normal;
}
#navigation li a:hover {
  background: #000000;
  color: #fff;
  text-decoration: none;
}
#navigation li.current a {
  background: #000000;
  color: #fff;
}
#navigation .filter a:focus {
  background: #000000;
  color: #fff;
  text-decoration: none;
  outline: 0;
}
#main {
  padding-top: 40px;
}
#main .container {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 3px solid #c8c8c1;
}
.pager-list {
  padding-bottom: 15px;
}
.pager-list .pager {
  display: inline-block;
  font-size: 18px;
}
.pager-list .pager.active span {
  background: #c8c8c1;
  color: #fff;
}
.pager-list .pager span {
  padding: 5px 12px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid transparent;
}
.pager-list .pager span:hover {
  color: #c8c8c1;
  background: #ebebeb;
  background: #fff;
  border: 1px solid #c8c8c1;
}
.pager-list .pager.page-prev span:hover {
  border-color: transparent;
}
.pager-list .pager.page-next span:hover {
  border-color: transparent;
}
.item {
  height: 300px;
  max-width: 300px;
  overflow: auto;
  text-align: center;
  position: relative;
}
.item h1 {
  font-size: 19px;
  line-height: 18px;
  text-transform: uppercase;
}
.item p {
  color: #c8c8c1;
  line-height: 16px;
}
.item img.bw {
  -webkit-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 10+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .6s ease;
  /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden;
  /* Fix for transition flickering */
}
.item:hover img.bw {
  filter: none;
  -webkit-filter: grayscale(0%);
}
.item:hover:after {
  font-family: 'FontAwesome';
  font-size: 58px;
  content: "\f144";
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -102px;
  margin-right: -24px;
  color: #fff;
  text-shadow: 0 0 15px #000000;
}
.item.featured {
  max-width: none;
  height: auto;
  margin-bottom: 50px;
}
.item.featured:hover:after {
  margin-top: -77px;
}
#Container {
  text-align: center;
}
#Container .mix {
  display: none;
}
.alert-dismissable {
  background: none;
  border: none;
  overflow: auto;
  padding: 0;
  margin-top: -20px;
}
.alert-dismissable .close {
  top: -3px;
  right: 15px;
  color: #000000;
}
.mix a:hover {
  color: #000000;
}
.mix a:focus {
  color: #000000;
  outline: 0;
}
.mix a:focus h1 {
  color: #c8c8c1;
}
.text-page {
  width: 60%;
  margin: auto;
  font-weight: 300;
}
.text-page h2 {
  text-transform: uppercase;
  color: #c8c8c1;
  font-size: 33px;
  line-height: 28px;
  font-weight: 700;
  margin: 20px 0;
}
.text-page p {
  text-align: justify;
  line-height: 28px;
  font-size: 16px;
}
.text-page section {
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-bottom: 1px solid #000000;
}
.text-page section.noborder {
  border-bottom: 0;
  margin-bottom: 0;
}
#footer {
  margin-top: 20px;
  background: #000000;
  color: #fff;
}
#footer p {
  padding: 10px 0;
  margin: 0;
}
.cfg-errormessage {
  -webkit-border-radius: 0;
  border-radius: 0;
}
#backtotop {
  display: none;
  position: fixed;
  bottom: 50px;
  left: 50px;
  color: #c8c8c1;
  text-align: center;
  font-weight: 300;
  padding: 0 7px;
}
#backtotop i {
  font-size: 12px;
  top: -1px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#backtotop:hover {
  color: #4d4d4d;
}
#backtotop:hover i {
  top: -4px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* RESPONSIVE */
@media screen and (max-width: 632px) {
  .featured {
    margin-bottom: 0px !important;
  }
  .featured img {
    display: none !important;
  }
  .featured img.img-mobile {
    display: block !important;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
/* Phone */
@media screen and (max-width: 768px) {
  .navigation-bar .container {
    padding: 0;
  }
  #Container .mix {
    padding: 0 7px;
  }
  .featured {
    margin-bottom: 0px !important;
  }
  .featured img {
    display: block;
  }
  .featured img.img-mobile {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .col-md-12.mix {
    display: block;
    max-width: 97%;
    margin-bottom: 20px;
  }
  #logo {
    display: block;
  }
  #logo img {
    margin-top: -15px;
  }
  .socials {
    display: block;
    margin: auto;
    margin-top: 60px;
    width: 156px;
    float: none;
  }
  #header {
    padding-top: 10px;
  }
  #header .container {
    padding: 0;
    width: 100%;
  }
  .thwd {
    display: block;
    text-align: center;
    width: 100%;
  }
  .payoff p {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  #navigation {
    width: 100%;
  }
  #navigation li {
    width: 100%;
  }
  #navigation li a {
    display: block;
    margin-left: 0;
  }
  #mobile-nav .dropdown {
    margin: 20px 0;
  }
  #mobile-nav .dropdown a {
    padding: 15px 30px;
    display: block;
  }
  .navigation-bar .container {
    width: 100%;
  }
  .text-page {
    width: 100%;
  }
  .text-page .col-md-6 {
    margin-bottom: 60px;
  }
  .alert-dismissable {
    overflow: auto;
    padding: 20px 0;
  }
  .alert-dismissable .close {
    top: -23px;
    right: 15px;
    color: #000000;
  }
  #backtotop {
    position: fixed;
    bottom: auto;
    margin: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    border-top: 1px solid #ebebeb;
    display: block;
    width: 100%;
    padding: 10px 0;
  }
  #backtotop span {
    top: 3px;
  }
  #backtotop:hover {
    color: #4d4d4d;
    background: #ebebeb;
  }
  #backtotop:hover span {
    top: 0;
  }
  .item:hover:after {
    margin-top: -87px;
  }
}
/* Tablet (Portrait) */
@media screen and (min-width: 768px) and (max-width: 990px) {
  #navigation li a {
    min-width: 0;
    padding: 10px 20px;
    width: auto;
    margin-left: -5px;
  }
  #mobile-nav .dropdown {
    margin: 20px 0;
  }
  #mobile-nav .dropdown a {
    padding: 15px 30px;
    display: block;
  }
  .text-page {
    width: 100%;
  }
  .text-page .col-md-6 {
    margin-bottom: 60px;
  }
  #backtotop {
    position: fixed;
    bottom: auto;
    margin: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    border-top: 1px solid #ebebeb;
    display: block;
    width: 100%;
    padding: 10px 0;
  }
  #backtotop span {
    top: 3px;
  }
  #backtotop:hover {
    color: #4d4d4d;
    background: #ebebeb;
  }
  #backtotop:hover span {
    top: 0;
  }
  .alert-dismissable {
    overflow: auto;
    padding: 20px 0;
  }
  .alert-dismissable .close {
    top: -23px;
    right: 15px;
    color: #000000;
  }
  .featured img {
    display: block;
  }
  .featured img.img-mobile {
    display: none;
    width: 100%;
  }
  .col-md-12.mix {
    display: block;
    max-width: 100%;
  }
}
@media screen and (min-width: 991px) and (max-width: 1200px) {
  #navigation li a {
    min-width: 0;
    padding: 10px 30px;
    width: auto;
    margin-left: -5px;
  }
}
/* Tablet (Landscape) */
/* Desktop */
@media screen and (min-width: 1025px) {
  .featured img {
    display: block;
  }
  .featured img.img-mobile {
    display: none;
  }
}
@media screen and (min-width: 991px) and (max-width: 1500px) {
  #backtotop {
    position: fixed;
    bottom: auto;
    margin: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    border-top: 1px solid #ebebeb;
    display: block;
    width: 100%;
    padding: 10px 0;
  }
  #backtotop span {
    top: 3px;
  }
  #backtotop:hover {
    color: #4d4d4d;
    background: #ebebeb;
  }
  #backtotop:hover span {
    top: 0;
  }
  .featured img {
    display: block;
  }
  .featured img.img-mobile {
    display: none;
  }
}
